<nav class="navbar navbar-expand-lg navbar-dark bg-dark align-items-center fixed-top">
  <a class="navbar-brand " routerLink="/"><img class="logo" [src]="logo"><span
      class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ejercicioProto"
    aria-controls="navbarSupportedContent" aria-controls="ejercicioProto" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="ejercicioProto">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown pt-3" routerLinkActive="router-link-active">
        <a class="nav-link dropdown-toggle lera" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pokemons
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-warning" routerLink="pokemons">Todos</a>
          <a class="dropdown-item text-warning" routerLink="personajes/formulario">Crear Personaje</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
